<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                    <img src="~/Asset/images/logoFooter.png" />
                    <ul>
                        
                        <li>365/65 Nguyễn Gia Trí, phường 25, Bình Thạnh</li>
                        <li> 44/22 Điện Biên Phủ, phường Chính Gián, quận Thanh Khê, Đà Nẵng</li>
                        <li>xóm 5, thôn Gia An, Hoài Châu Bắc, Hoài Nhơn, Bình Định</li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading"><h4>Customer Service</h4></div>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>My Account</h4></div>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Specials</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>Contact Us</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>UTH University School</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>+84 905 884 303</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>giakiethcb@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    KIT PERFUME 2024 - Hosted by <a href="https://www.Zerotheme.com">Vo Pham Gia Kiet</a>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
